body{
	background:url(../images/back_image.gif) repeat fixed;
}
.light-gray{
	background:#111111;
	border:1px solid #dddddd;
}
.white{
	background:#000;
	border:1px solid #fefefe;
}
.gray{
	background:#101010;
	border:1px solid #dcdcdc;
}
.pointer{
	cursor:pointer;
}
.navbar-brand{
	background:url(../images/logo.png) no-repeat;
}
body {
  padding-top: 60px;
}
.navbar{
	background:url(../images/nav-bg.png) repeat;
}
.user-self{
	background:url(../images/user_bg.jpg) no-repeat;
	padding-top:210px;
}
