<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Archive</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 参数名为contextConfigLocation -->
  <context-param>
  	<param-name>contextConfigLocagion</param-name>
  	<!-- 配置多个文件之间用 , 隔开 -->
  	<param-value>WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <!-- 采用listener来创建ApplicationContext实例 -->
  <listener>
  	<listener-class>
  	org.springframework.web.context.ContextLoaderListener
  	</listener-class>
  </listener>
  
    <filter>
  	<filter-name>struts2_spring</filter-name>
  	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>struts2_spring</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

<!--  <filter-mapping>  
     <filter-name>jspFilter</filter-name>  
     <url-pattern>/*</url-pattern>  
 </filter-mapping>   -->
</web-app>